---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./autobrr/ks.yaml
  - ./downloads-pv.yaml
  - ./media-pv.yaml
  - ./jellyfin/ks.yaml
  - ./jellyseerr/ks.yaml
  - ./notifiarr/ks.yaml
  - ./plex/ks.yaml
  - ./prowlarr/ks.yaml
  - ./qbittorrent/ks.yaml
  - ./radarr/ks.yaml
  - ./sabnzbd/ks.yaml
  - ./sonarr/ks.yaml
  - ./gluetun-service.yaml
  - ./plik/ks.yaml
