# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  interval: 30m
  timeout: 10m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: csi-driver-nfs
      namespace: storage
    - name: generic-device-plugin
      namespace: kube-system
  values:
    controllers:
      qbittorrent:
        annotations:
          secret.reloader.stakater.com/reload: qbittorrent-secret

        pod:
          securityContext:
            fsGroup: 1001
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          pia-tun:
            image:
              repository: olsonalexw/k8s-wireguard-pia
              tag: latest@sha256:33f313684b6f0e0c52e8f67ea58a8220a4241e5e40eaf48590d2c87261b5bda7
              pullPolicy: Always
            env:
              TZ: ${TIMEZONE}
              LOCAL_NETWORK: "10.69.0.0/16,10.96.0.0/16"
              PORT_FORWARDING: "true"
              PORT_API_TYPE: "qbittorrent"
              PORT_API_URL: "http://localhost:80"
              METRICS: "true"
            envFrom:
              - secretRef:
                  name: qbittorrent-secret
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                add:
                  - NET_ADMIN
                drop:
                  - ALL

          qbittorrent:
            dependsOn: [pia-tun]
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.2
            env:
              TZ: ${TIMEZONE}
              UMASK: "022"
              WEBUI_PORT: &port 80
            securityContext:
              runAsUser: 1001
              runAsGroup: 1001
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: qbittorrent
        ports:
          http:
            port: *port

    ingress:
      qbittorrent:
        className: traefik-internal
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          traefik.ingress.kubernetes.io/router.middlewares: "network-chain-no-auth@kubernetescrd"
        hosts:
          - host: &host qbittorrent.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: "${SECRET_DOMAIN/./-}-production-tls"

    persistence:
      config:
        enabled: true
        storageClass: nfs-csi
        accessMode: ReadWriteMany
        size: 2Gi
        advancedMounts:
          qbittorrent:
            qbittorrent:
              - path: /config
      media:
        enabled: true
        existingClaim: nfs-media-pvc
        globalMounts:
          - path: /media
      downloads:
        enabled: true
        existingClaim: nfs-downloads-pvc
        globalMounts:
          - path: /downloads
